.content {
  width: 250px;
  height: 310px;
  margin: 30px;
  padding: 5px;
  border-radius: 40px;
  background: #701717;
  color: #fff;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.4);
  animation-name: card;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes card {
  0% {
    opacity: 0;
    top: 100px;
    left: 0;
  }

  50% {
    opacity: 0.5;
    top: 50px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.content:hover {
  transform: translateY(-5%);
  transition: all 0.4s ease-out;
}

.content h2 {
  color: #000;
  background-color: #fff;
  margin: 5px;
  font-weight: 600;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.content img {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.content h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
  filter: drop-shadow(5px 3px 2px #000);
}
