.content {
  width: 250px;
  height: 300px;
  margin: 30px;
  padding: 5px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  backdrop-filter: blur(4px);
  animation-name: card;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes card {
  0% {
    opacity: 0;
    top: 100px;
    left: 0;
  }

  50% {
    opacity: 0.5;
    top: 50px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.content:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-out;
  filter: drop-shadow(0 0 0.75rem #000);
}

.content h2 {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
}

.content img {
  width: 150px;
}
