.content{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 50px ;
}

.content button{
    padding: 10px;
    margin: 10px;
    background: #fff;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px black;
}

.content button:hover{
    transform: scale(1.1);
}